@import url('https://rsms.me/inter/inter.css');

body {
	font-family: 'Inter', Helvetica, sans-serif;
}

.mainClass {
	padding: 0;
	margin: 0;
	width: 100%;
}
.container_columns {
	display: block;
}
.column {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 2px;
	border-color: #fafbfc;
	background-color: #ffffff;
	border: 1px solid;
	border-color: rgb(225, 228, 232);
	width: 300px;
	max-width: 100%;
	padding-top: 10px;
}

.cards {
	color: #01bbc5;
}
h2 {
	margin: 10px;
}
.card {
	border-top: 1px solid;
	border-color: rgb(225, 228, 232);
	padding: 10px;
}
.card_url {
	text-decoration: none;
	color: #01bbc5;
}
.card_url_color {
	color: #01bbc5;
}
.card_url:hover {
	color: #1f618d;
}
.mypa_columns {
	display: table;
	margin: 0 auto;
}
@media (max-width: 951px) {
	.column {
		width: 100%;
	}
}
